	#cmenu 
	{
			background: #f0f0f0 url(../images/contextMenuBg.gif) repeat-y left;
			border:1px solid #979797;
			padding: 3px;
			width: 180px;
	}

	.menuicon,.menuiconon
	{
		  cursor:pointer;
			font-family:Arial,Lucida Grande;
			font-size:11px;
			height:20px;
			margin:1px;
			color: #1a1818;
	}

	.menuicon {
		padding:2px;
	 }

	 .menuiconon {
		padding:1px;
		background:#dcecf3;
		border: 1px solid #a8d8eb;
	 }

	#cmenu img {
		height:16px;
		width:16px;
		margin:1px 10px 0 2px;
	}

	#cmenu .splitter {
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #fff;
		height:0px;
		margin:4px 0px 4px 28px;
		padding: 0px;
		display:block;
		width: 150px;
	}

/* css sprites */
.menuSpr {
  float: left; 
   background-image: url(../images/actions/sprites.png); 
   background-position: -7px -8px; 
   margin: 1px 13px 1px 0px; 
   margin-top: 1px;
   width: 17px; 
   height: 16px;
}

.sprNew {
   background-position: -7px -339px; 
}
.sprCreateFolder {
   background-position: -7px -108px; 
}
.sprSendToTranslate {
   background-position: -7px -636px; 
}
.sprBinEmpty {
   background-position: -7px -42px; 
}
.sprTranslate {
   background-position: -7px -636px; 
}
.sprSave {
   background-position: -7px -603px; 
}
.sprImportDocumentType {
   background-position: -7px -273px; 
}
.sprExportDocumentType {
   background-position: -7px -240px; 
}
.sprAudit {
   background-position: -7px -8px; 
}
.sprPackage2 {
   background-position: -7px -405px; 
}
.sprDelete {
   background-position: -7px -174px; 
}
.sprMove {
   background-position: -7px -141px; 
}
.sprCopy {
   background-position: -7px -75px; 
}
.sprSort {
   background-position: -7px -670px; 
}
.sprPermission {
   background-position: -7px -438px; 
}
.sprProtect {
   background-position: -7px -471px; 
}
.sprRollback {
   background-position: -7px -570px; 
}
.sprRefresh {
   background-position: -7px -537px; 
}
.sprNotify {
   background-position: -7px -372px; 
}
.sprUpdate {
   background-position: -7px -603px; 
}
.sprPublish {
   background-position: -7px -504px; 
}
.sprToPublish {
   background-position: -7px -504px; 
}
.sprLogout {
   background-position: -7px -306px; 
}
.sprDomain {
   background-position: -7px -207px; 
}

.sprLiveEdit {
   background-position: -7px -706px; 
}